# Ignore all .log files
#*.log

# Ignore the node_modules directory
#node_modules/

# Ignore all .env files
#*.env

# Ignore a specific file
#secret_config.py

# Ignore all files in the temp directory
#temp/

#cloud/software/
#*.exe
#*.msi

html/http-server/Simple-Web-Server.exe
logs/software/*.exe
logs/software/*.msi